[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	branch = master
[submodule "submodules/pstreams"]
	path = submodules/pstreams
	url = https://git.code.sf.net/p/pstreams/code
	branch = master
#[submodule "submodules/fmt"]
#	path = submodules/fmt
#	url = https://github.com/fmtlib/fmt.git
#	branch = master
#[submodule "submodules/spdlog"]
#	path = submodules/spdlog
#	url = https://github.com/gabime/spdlog.git
#	branch = master
